@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box sizing: border box is used to fixed our container size. Here the content are allowed to small but the container size never be changed */
}

html,
body {
  font-family: "Poppins", sans-serif;
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  /* right and left side scrolling not allowed --->that's why added overflow-x: hidden */
  overflow-y: auto;
  /* allowed to scrollled y direction */
}

.container {
  height: 100%;
  max-width: 1200px;
  /* The container max width is 1200px, not more than */
  margin: 0 auto;
  /* left and right are equal margin ---> So the container set on the middle part */
  padding: 20px;
}

.container h1 {
  margin: 20px 0;
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
}

.gallery {
  display: flex;
  /* default main x-axis is horizontal */
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 32%;
  position: relative;
  /*To make the text overlapping we used position:relative to the parent element & postion absulate to the child element */
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  /* after 32% of the image being added, then nothing will be showed here */
}

.card img {
  height: 100%;
  /* when we set the height 100%, the the image caption will be hidden. */
  width: 100%;
  filter: grayscale(100%);
  /* To set filter in the image */
  box-shadow: 0 0 20px #333;
  /* offset-x | offset-y | blur-radius | color */
  object-fit: cover;
}

.card:hover {
  transform: scale(1.02);
  /* when hovering the card --> make a shadow on the cards that's why i use filter: drop-shadow */
  filter: drop-shadow(0 0 10px #333);
  /* offset-x | offset-y | blur-radius | color */
  transition: 0.8s ease-in-out;
}
